body {
	font-family: 'consolas';
	color: silver;
}

a {
	line-height: 1.6;
	letter-spacing: 0.75px;
	text-align: center;
}

a.no_underline{
	text-decoration: none;
}

h3 {
	margin: 4px 4px 4px 4px;
	text-align: center;
	color: dodgerblue;
	padding-top: 4px;
}

div.right {
	text-align: right;
}

p.indent1{
	margin-left: 20px;
}

div.block {
	background: #d3d3d3;
	padding: 0px 4px 0px 4px;
	border-style: solid solid solid solid;
	border-color: rgb(0, 160, 164);
}

div.links {
	border-top-style: solid;
	border-width: 2px;
	border-color: dimgray;
}